In [1]:
import pandas as pd
import numpy as np
%pylab inline

Populating the interactive namespace from numpy and matplotlib

I extracted precipitations records for Willmington from 2000/01/01 through today. 
The goal is to extract from these data the daily precipitation starting on 2018/01/01 and assess if these data are different from a population with mean $\mu = 0.14$ standard deviation $\sigma= 0.38$. 

Set a p-value at $2\sigma$:  $p=0.05$

In [3]:
rain = pd.read_csv("https://raw.githubusercontent.com/fedhere/DSPS/master/labs/1865331.csv")
rain

,STATION,NAME,DATE,PRCP,SNOW,SNWD,WESD,WESF
0,US1DENC0010,"NEWPORT 2.4 WNW, DE US",2010-01-01,0.28,NaN,0.0,NaN,NaN
1,US1DENC0010,"NEWPORT 2.4 WNW, DE US",2010-01-02,0.00,0.0,NaN,NaN,NaN
2,US1DENC0010,"NEWPORT 2.4 WNW, DE US",2010-01-03,0.00,0.0,NaN,NaN,NaN
3,US1DENC0010,"NEWPORT 2.4 WNW, DE US",2010-01-04,0.00,0.0,NaN,NaN,NaN
4,US1DENC0010,"NEWPORT 2.4 WNW, DE US",2010-01-05,0.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
3533,US1DENC0010,"NEWPORT 2.4 WNW, DE US",2019-09-04,0.00,0.0,NaN,NaN,NaN
3534,US1DENC0010,"NEWPORT 2.4 WNW, DE US",2019-09-05,0.00,0.0,NaN,NaN,NaN
3535,US1DENC0010,"NEWPORT 2.4 WNW, DE US",2019-09-06,0.00,0.0,NaN,NaN,NaN
3536,US1DENC0010,"NEWPORT 2.4 WNW, DE US",2019-09-07,0.02,NaN,NaN,NaN,NaN
3537,US1DENC0010,"NEWPORT 2.4 WNW, DE US",2019-09-08,0.00,0.0,NaN,NaN,NaN


The $Z$ statistics is : $Z = \frac{\bar{X} - \mu }{s}$ and $s = \sigma / \sqrt(N)$ (you should know what all those symbols mean)

1. Extract from the dataframe above the columns "DATE" and "PRCP" (precipitation)

2. Convert the dataframe DATE from ```string``` to ```datetime``` type
 using pd.datetime() 
    
3. Select the data rows with date later than 2018/01/01. 
    If your data type conversion worked well you should be able to set the condition as ```rain[<newcolumnname>]> pd.datetime("2018/01/01")```
    use the technique called "broadcasting" to select the rows: 
    
    ```rain[ rain[<newcolumnname>]> pd.datetime("2018/01/01")]``` which you can save as a new dataframe
    
4. Calculate the mean of the sample you created $\bar{X}$ and plug it in  the numerator of the $Z$ statistics: $\bar{X}- \mu$

5. Calculate the size of the sample and plug it in the formula. Now you have $Z$

6. Knowing the distribution of $Z\sim N(\mu=0, \sigma=1)$ and with a confidence $p=0.05$, did you find that the time period 2018/01/01---today has a statistically significant different amount of rain?

In [4]:
# rain["DATE"] ## getting only values from one coulmns 
# rain["DATE"].values ## convert them in to array

rainonly = rain[["DATE", "PRCP"]]

In [5]:
rainonly.head()

         DATE  PRCP
0  2010-01-01  0.28
1  2010-01-02  0.00
2  2010-01-03  0.00
3  2010-01-04  0.00
4  2010-01-05  0.00

In [6]:
# rainonly.DATE.dtype ## checking the data type in the onject

rainonly['date'] = pd.to_datetime(rainonly.DATE) ## converting into readable format

/home/narayan/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
rainonly.date

0      2010-01-01
1      2010-01-02
2      2010-01-03
3      2010-01-04
4      2010-01-05
          ...
3533   2019-09-04
3534   2019-09-05
3535   2019-09-06
3536   2019-09-07
3537   2019-09-08
Name: date, Length: 3538, dtype: datetime64[ns]

In [8]:
#rainonly['date'] > pd.to_datetime("2018/01/01")

recent = rainonly[rainonly['date'] > pd.to_datetime("2018/01/01")] ## picking a sample from the population

In [9]:
recent

            DATE  PRCP       date
2923  2018-01-02  0.00 2018-01-02
2924  2018-01-03  0.00 2018-01-03
2925  2018-01-04  0.07 2018-01-04
2926  2018-01-05  0.20 2018-01-05
2927  2018-01-06  0.00 2018-01-06
...          ...   ...        ...
3533  2019-09-04  0.00 2019-09-04
3534  2019-09-05  0.00 2019-09-05
3535  2019-09-06  0.00 2019-09-06
3536  2019-09-07  0.02 2019-09-07
3537  2019-09-08  0.00 2019-09-08

[615 rows x 3 columns]

In [0]:
# mean and std of sample
mean_sample = (recent['PRCP'].values).mean()
std_sample = (recent['PRCP'].values).std()

In [0]:
# mean and std of population
mean_pop = 0.14
std_pop = 0.38
N = len(recent) ## length of sample

In [0]:
# applying Z-test
Z = (mean_sample -mean_pop)/(std_pop/np.sqrt(N))
print(Z)

1.664421697050835

In [0]:
Ïƒ = 1
if Z>2*Ïƒ:
  print("Null hypothesis is rejected, time period 2018/01/01-today has a statistically significant different amount of rain")
else:
  print("Null hypothesis is not rejected, time period 2018/01/01-today does not have statistically significant different amount of rain")

Null hypothesis is not rejected, time period 2018/01/01-today does not have statistically significant different amount of rain